{% extends "greg_custom_base.html" %}

{% block title %}
Lab_01
{% endblock %}

{% block content %}
<!--Gagah's css-->
<style>
        h1 {
            color: white;
        }
        a {
        text-decoration: none;
        color: #ea3315;
        }
    
        #wrapper {
        width: 50%;
        background: #fff;
        border-radius: 20px;
        border: 2px solid #d1d3d4;
        }
    
        #wrapper .title {
        font-size: 3em;
        text-align: center;
        padding: 10px 0;
        }
    
        #wrapper .content {
        padding: 10px 20px;
        }
    
        #wrapper .content .biodata {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        }
    
        #wrapper .content .biodata .image {
        width: 25%;
        }
    
        #wrapper .content .biodata .image img {
        width: 100%;
        border-radius: 50%;
        }
    
        #wrapper .content .biodata .data {
        margin-left: 20px;
        }
    
        #wrapper .content .biodata .data ul {
        list-style: none;
        font-size: 1.5em;
        }
    
        #wrapper .content .biodata .data ul li {
        padding: 7px 0;
        }
    
        #wrapper .content .biodata .data ul li strong {
        display: inline-block;
        width: 200px;
        }
    
        #wrapper .content .deskripsi {
        font-size: 1.3em;
        text-align: justify;
        padding: 10px 0;
        }

        @media (max-width: 1500px) {
        #wrapper {
            width: 70%;
        }
        }
    
        @media (max-width: 1100px) {
        #wrapper {
            width: 90%;
        }
        }
    
        </style>
<div class='container-fluid p-3 bg-lightgray'>
    <div class='bg-dark m-4 p-4'>
        <h1 >GREG's profile</h1>
    </div>
    <div class='row-lg ml-5 mb-4'>
        <img src='https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706039710.jpg' class='col-3' style='border:#ff9055 8px dashed;'/>
    </div>
    <div class='row'>
        <div class='col-sm-2'>
        </div>       
        <div class='col-md-9'>
            <div style='border:#5590ff 8px dashed;'>
                <h2>Hello, my name is {{ name }}</h2>
                <article>My NPM is {{ npm }}</article>
                <article>I am {{ age }} years old</article>
                <article>I studied at {{ kuliah }}</article>
                <article>My hobby is {{ hobi }}</article>
                <article> This one describes me fully : {{ deskripsi }}</article>
            </div>
        </div>
    </div>

    <div class='bg-dark m-4 p-4'>
        <h1 >GAGAH's profile</h1>
    </div>
    <!-- Gagah Pangeran (depan)-->
    <div id="wrapper" class='align-item-end'>
        <h1 class="title">Biodata Saya</h1>
        <div class="content">
          <div class="biodata">
            <div class="image">
              <img src="https://pepew.herokuapp.com/image.jpg">
            </div>
            <div class="data">
              <ul>
                <li>
                  <strong>Nama</strong>
                  <span>: Gagah Pangeran Rosfatiputra</span>
                </li>
                <li>
                  <strong>NPM</strong>
                  <span>: 1706039566</span>
                </li>
                <li>
                  <strong>Tempat Kuliah</strong>
                  <span>: Universitas Indonesia</span>
                </li>
                <li>
                  <strong>Hobi</strong>
                  <span>: Bernapas</span>
                </li>
                <li>
                  <strong>Website</strong>
                  <span>: <a href="http://gagahpangeran.com" target="_blank">www.gagahpangeran.com</a></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="deskripsi">
            <p>
              Saya biasa dipanggil Gagah atau GPR. Jadi saya membuat halaman ini tanpa framework dan buat dari scratch lalu langsung di
              deploy. Saya masih belajar PPW dan ingin belajar lebih banyak lagi tentang dunia pemrograman web.
            </p>
          </div>
        </div>
    
    
    </div>

    <div class='bg-dark m-4 p-4'>
            <h1 >DIPTA's profile</h1>
        </div>
   <!-- Raden Pradipta Gitaya (belakang)-->
   <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s3">
                    <img id='profile-picture' src='https://yt3.ggpht.com/a-/ACSszfFx6ZD_UZa7HLhvnMJV7MOBRsdsm5lnAZucxA=s900-mo-c-c0xffffffff-rj-k-no'>
                </div>
                <div class="col s9">
                    <p class='flow-text'>
                        Rd Pradipta Gitaya S
                    </p>
                    <p>
                        <strong>
                            21 Years Old
                            <br>
                            1706043361
                            <br>
                            Universitas Indonesia
                        </strong>
                    </p>
                    <blockquote>
                        A passionate learner.
                        Interested in web & apps development.
                        Currently enrolled as second year student of Faculty of Computer Science, Universitas Indonesia.
                        Majoring Information System & Technology
                    </blockquote> 
                </div>
            </div> 
        </div>
    </div>



</div>
{% endblock %}
